*, *:before, *:after {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    @include font-regular;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: .025em;
    color: $white;
    margin: 0;
    padding: 0;
    background-color: $white;
}

section {
    width: 100%;
    min-height: 100%;
}

h1 {
    font-size: 14vw;
    line-height: 1.2;
    margin: 0 0 .5em 0;

    @include breakpoint(tablet) {
        font-size: 10vw;
        margin-bottom: .25em;
    }

    @include breakpoint(laptop) {
        font-size: 9vw;
        margin-bottom: .125em;
    }

    @include breakpoint(widescreen) {
        font-size: 6vw;
    }
}

h2 {
    @include font-bold;
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 0 0 .25em 0;
}

p {
    margin: 0 0 1em 0;
}

a {
    display: block;
    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


strong {
    @include font-semibold;
}
