*, *:before, *:after {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    @include font-regular;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: .025em;
    color: $white;
    margin: 0;
    padding: 0;
    background-color: $white;
}

#app {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    min-height: 100%;
}

a {
    display: block;
    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
